{% extends "base.html" %}
{% block content %}
		<div id="playlist" class="table-responsive">
            <table class="table table-striped">
               <tbody>
                <tr>
                  <td><a onclick="">Artists</a></td></tr><tr>
                  <td><a onclick="">Albums</a></td></tr><tr>
                  <td><a onclick="">Songs</a></td></tr><tr>
                  <td><a onclick="">Genres</a></td></tr><tr>
                  <td><a onclick="">Years</a></td>
                </tr>
			</tbody>
		</table>
		</div>
{% endblock %}