{% extends "base.html" %}
{% block content %}
    <div class="container">
        <span>Artist</span><br><span>Album - Track</span>

        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-default">&lt;</a> <a class="btn btn-default">play</a> <a class="btn btn-default">
                &gt;</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default">R</a> <a class="btn btn-default">S</a>
            </div>
        </div>
    </div>
{% endblock %}