{% extends "base.html" %}
{% block content %}
    <div id="playlist" class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td><a id="artists">Artists</a></td>
            </tr>
            <tr>
                <td><a id="albums">Albums</a></td>
            </tr>
            <tr>
                <td><a id="songs">Songs</a></td>
            </tr>
            <tr>
                <td><a id="genres">Genres</a></td>
            </tr>
            <tr>
                <td><a id="years">Years</a></td>
            </tr>
            <tr>
                <td><a id="random">Random</a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}